{
  "plugins": [
    "transform-class-properties", 
    "react-hot-loader/babel", 
    "@babel/plugin-transform-react-jsx-source"
  ],
  "presets": [
    [
      "@babel/env",
      {
        "modules": false
      }
    ],
      "@babel/react"
  ]
}
