{
    "extends": [
      "plugin:lodash/recommended",
      "prettier"
    ],
    "plugins": [
      "lodash",
      "prettier"
    ],
    "rules": {
      "import/no-cycle": ["warn", { "maxDepth": 1 }],
      "max-classes-per-file": "off",
      "no-console": "off",
      "react/forbid-prop-types": "warn",
      "react/jsx-curly-newline": "off",
      "react/jsx-fragments": ["error", "element"],
      "react/no-unescaped-entities": "off",
      "react/require-default-props": "off",
      "react/jsx-sort-props": ["error", {
        "callbacksLast": true,
        "reservedFirst": true
      }],
      "prettier/prettier": "warn"
    },
  }