.square:before {
  content: '';
  width: 0;
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.square:before {
  padding-top: 100%;
  /* makes expand to a square */
}
