.svg-link {
  fill: $link-color;

  @include hover {
    fill: $link-hover-color;
  }

  &:focus,
  &.focus {
    box-shadow: none;
  }

  font-family: $font-family-base;
}

@each $color, $value in $theme-colors {
  .svg-link-#{$color} {
    fill: $value;
  }
}
