@import 'variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/bootstrap';
@import '~argon-design-system-free/assets/css/argon-design-system';
@import 'styles';

// Animations
.plan-prise-card-exit {
  opacity: 1;
}
.plan-prise-card-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

label {
  font-size: $font-size-base;
}
