@import 'variables';
@import '~argon-design-system-react/src/assets/vendor/nucleo/css/nucleo.css';
@import '~argon-design-system-react/src/assets/scss/argon-design-system-react';

// Animations

.plan-prise-card-exit {
  opacity: 1;
}
.plan-prise-card-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
